<div class="Resume" id="pi"></div>
<div class="container">
  <div class="row">
      <div class="col-md-10 col-md-offset-1">
          <div class="title text-center">
              <h1>Karl Cedrick Deluda</h1>
              <h3>Humble Student Lang</h3>
              <hr />
              <ul class="list-inline">
                  <li><i class="devicon-laravel-plain colored"></i></li>
                  <li><i class="devicon-javascript-plain colored"></i></li>
                  <li><i class="devicon-html5-plain colored"></i></li>
                  <li><i class="devicon-angularjs-plain colored"></i></li>
                  <li><i class="devicon-linux-plain"></i></li>
              </ul>
          </div>

          <!-- summary section -->
          <div class="summary">
              <h2 class="text-center">Personal Info</h2>
              <p>Hello! I am Karl Cedrick Deluda from IT3A and here are some of my personal information!</p>

              <div class="row">
                  <div class="col-md-3 col-sm-3">
                      <p>First Name: Karl Cedrick</p>
                      <p>Middle Name: Rivera</p>
                      <p>Last Name: Deluda</p>
                  </div>
                  <div class="col-md-3 col-sm-3">
                      <p>Sex: Yes</p>
                      <p>Age: 20</p>
                      <p>Status: Sleepy</p>
                  </div>
                  <div class="col-md-3 col-sm-3">
                      <p>Trait: Kind</p>
                      <p>Trait: Patient</p>
                      <p>Trait: Liar</p>
                  </div>
                  <div class="col-md-3 col-sm-3">
                      <p>Nationality: Filipino</p>
                      <p>Primary Language: Pilipino</p>
                      <p>Secondary Language: English</p>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
