<div class="Resume" id="ci"></div>
<div class="container">
  <div class="row">
      <div class="col-md-10 col-md-offset-1">
          <div class="title text-center">
              <h1>Karl Cedrick Deluda</h1>
              <h3>Humble Student Lang</h3>
              <hr />
              <ul class="list-inline">
                  <li><i class="devicon-laravel-plain colored"></i></li>
                  <li><i class="devicon-javascript-plain colored"></i></li>
                  <li><i class="devicon-html5-plain colored"></i></li>
                  <li><i class="devicon-angularjs-plain colored"></i></li>
                  <li><i class="devicon-linux-plain"></i></li>
              </ul>
          </div>

          <!-- summary section -->
          <div class="summary">
              <h2 class="text-center">Contact information</h2>
              <p>Hello! I am Karl Cedrick Deluda from IT3A and here are some of my Contact information!</p>

              <div class="row">
                  <div class="col-md-3 col-sm-3">
                      <p>Email: karlcedrick.deluda&64letran.edu.ph</p>
                  </div>
                  <div class="col-md-3 col-sm-3">
                      <p>Facebook: Karl Deluda</p>
                  </div>
                  <div class="col-md-3 col-sm-3">
                      <p>Instagram: JustLrk</p>
                  </div>
                  <div class="col-md-3 col-sm-3">
                      <p>Contact Number: 0912345789</p>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>